<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HydraBloom - Home</title>
</head>
<body>
    <h1>Welcome to Hydrabloom</h1>

    <p>Hello, {{ user.name }} ({{ user.email }})</p>
    
    <h2>Your Plants</h2>
    {% if plants %}
        <ul>
        {% for plant in plants %}
            <li>{{ plant.name }} - Type: {{ plant.plant_type.name }} - Location: {{ plant.location.name }} - Planted on: {{ plant.date_planted }} <a href="{{ url_for('display_temp_and_humidity') }}">Check Plant Status</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have no plants yet.</p>
    {% endif %}
    
    <a href="{{ url_for('register_plant') }}">Register a new plant</a>
</body>
</html>
