<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>{{ user.name }}'s Details</h1>

    <h2>Plants:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Location</th>
            <th>Date Planted</th>
        </tr>
        {% for plant in plants %}
        <tr>
            <td>{{ plant.name }}</td>
            <td>{{ plant.plant_type.name }}</td>
            <td>{{ plant.location.name }}</td>
            <td>{{ plant.date_planted }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('admin_dashboard') }}"><button>Back to Dashboard</button></a>
</body>
</html>
